<app-menu></app-menu>
<div class="row">
    <div class="col-4">
      <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
        <a class="p-1 rounded" href="#simple-list-item-1">Agricultura</a>
        <a class="p-1 rounded" href="#simple-list-item-2">Sustentabilidad</a>
        <a class="p-1 rounded" href="#simple-list-item-3">Medicina</a>
        <a class="p-1 rounded" href="#simple-list-item-4">Investigación</a>
        <a class="p-1 rounded" href="#simple-list-item-5">Militar</a>
        <a class="p-1 rounded" href="#simple-list-item-6">Gobierno</a>
        <a class="p-1 rounded" href="#simple-list-item-7">Educación</a>
      
    </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h4 id="simple-list-item-1">Agricultura</h4>
        <p>...</p>
        <h4 id="simple-list-item-2">Sustentabilidad</h4>
        <p>...</p>
        <h4 id="simple-list-item-3">Medicina</h4>
        <p>...</p>
        <h4 id="simple-list-item-4">Investigación</h4>
        <p>...</p>
        <h4 id="simple-list-item-5">Militar</h4>
        <p>...</p>
        <h4 id="simple-list-item-6">Gobierno</h4>
        <p>...</p>
        <h4 id="simple-list-item-7">Educación</h4>
        <p>...</p>
      </div>
    </div>
  </div>
<app-contacto></app-contacto>