<nav  class="navbar navbar-expand-lg navbar-mainbg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" >
    

    <li class="nav-item">
    <a style="font-size: 130%; color: black; padding-left: 276%;" class="nav-link" href="https://www.facebook.com/jesi.luz.9"><i ></i>Facebook</a>
    </li>
    <li class="nav-item">
    <a style="font-size: 130%; color: black; padding-left: 376%;" class="nav-link" href="https://instagram.com/jesi_luz?r=nametag"><i ></i>Instagram</a>
    </li>
    <li class="nav-item">
    <a style="font-size: 130%; color: black; padding-left: 476%;" class="nav-link" href="https://t.me/Jessi_luz"><i ></i>Telegram</a>
    </li>
    </ul>
    </div>
   </nav>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
