
<body style="background-color: rgb(254, 255, 240);">
  <app-menu></app-menu>
<div class="card text-center" style="background-color: rgb(254, 255, 240);">
    <div class="card-header" >
      
    </div>
    
    
    
    <div style="padding-left: 20%; padding-right: 20%; background-color: rgb(254, 255, 240);">
        <div style="background-color: azure;"  class="card-body">
            <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/724A/production/_91885292_gettyimages-499436010.jpg.webp" style=" max-width: 100%;  height: auto;" alt="hola">
          <br> <br><h5 class="card-title">Bill Gates (el más rico del mundo)</h5>
          <p class="card-text"> Bill Gates no sólo es la persona más rica de Estados Unidos; es el más rico del planeta.

            La fortuna de Bill Gates en números
            Comenzó pronto a hacer dinero. A los 30 años, Microsoft le hizo multimillonario. Dejó de dirigir su empresa en el año 2000. Y, aunque sigue formando parte del consejo de administración, dedica la mayor parte de su tiempo a la filantropía.</p>
          
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Capital neto
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>US$89.400 millones</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Edad y País
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>60 años
                    País: Estados Unidos</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Fuente de riqueza
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Microsoft</strong></div>
              </div>
            </div>
          </div>
        <div class="card-footer text-muted">
    
        </div>
      </div>

      <br>
      <br>

      <div style="padding-left: 20%; padding-right: 20%; background-color: rgb(254, 255, 240);">
        <div style="background-color: azure;"  class="card-body">
          <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/C06A/production/_91885294_gettyimages-450831356.jpg.webp" style=" max-width: 100%;  height: auto;" alt="hola">
          <br>  <br><h5 class="card-title">Jeff Bezos (el creador de Amazon)</h5>
          <p class="card-text">La historia de Bezos tiene uno origen humilde. Comenzó en un garaje (como Steve Jobs) tratando de idear la manera de vender cosas por internet. Primero fueron libros y ahora vende, literalmente, cualquier cosa a través de su exitosa página web.

            Cómo el creador de Amazon, Jeff Bezos, se convirtió en la tercera persona más rica del mundo
            Pero eso no es todo. También es el dueño del diario estadounidense Washington Post y de la compañía aeroespacial Blue Origin. Sin olvidar la diversificación de servicios de su propia compañía, que es mucho más que un sitio de compraventa.
            
            La ultima gran novedad, Amazon Music, su servicio para escuchar música en streaming.</p>
          
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Capital neto
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>US$51.200 millones</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Edad y País
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>52 años
                    País: Estados Unidos</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Fuente de riqueza
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Amazon</strong></div>
              </div>
            </div>
          </div>
        <div class="card-footer text-muted">
    
        </div>
      </div>
      <br>
      <br>
      <div style="padding-left: 20%; padding-right: 20%;">
        <div style="background-color: azure;"  class="card-body">
            <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/10E8A/production/_91885296_gettyimages-163292239.jpg.webp" style=" max-width: 100%;  height: auto;" alt="hola">
         <br> <br><h5 class="card-title">Mark Zuckerberg (Facebook y su éxito rotundo)</h5>
          <p class="card-text">La historia del creador de Facebook es la encarnación del éxito. A sus 31 años es una de las personas más ricas (y admiradas) del mundo.

            Todo comenzó durante su época universitaria. Desde entonces, su fortuna no ha dejado de crecer. Pero también sus intereses caritativos: ya ha donado grandes cantidades a causas como la lucha contra el ébola o la mejora del sistema educativo.
            
            Y hace poco anunció que quiere erradicar todas las enfermedades del mundo.
            
            ¿Es realmente posible erradicar todas las enfermedades como pretende el fundador de Facebook Mark Zuckerberg?</p>
          
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Capital neto
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>US$46.200 millones.</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Edad y País
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>31 años
                    País: Estados Unidos</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Fuente de riqueza
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Facebook</strong></div>
              </div>
            </div>
          </div>
        <div class="card-footer text-muted">
    
        </div>
      </div>

      <br> <br>
      <div style="padding-left: 20%; padding-right: 20%;">
        <div style="background-color: azure;"  class="card-body">
            <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/DEA6/production/_91889965_gettyimages-456302942.jpg.webp" style=" max-width: 100%;  height: auto;" alt="hola">
          
          <br><br>  <h5 class="card-title">Larry Ellison (el dueño de Oracle)</h5>
          <p class="card-text">Larry Ellison es el cofundador de Oracle, una de las mayores empresas de software, aunque no todo el mundo la conoce porque sus principales clientes son empresas y gobiernos.

            Según Business Insider, Ellison llegó a ser uno de los directores ejecutivos mejor pagados del mundo. Tiene una isla hawaiana y era muy amigo de Steve Jobs.</p>
          
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Capital neto
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>US$46.100 millones</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Edad y País
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>71 años
                    País: Estados Unidos</strong> </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Fuente de riqueza
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Oracle</strong></div>
              </div>
            </div>
          </div>
        <div class="card-footer text-muted">
    
        </div>
      </div>

      <a href="https://www.bbc.com/mundo/noticias-37634297" target="_blank" class="link-info">Conoce más</a>
    </div>

    

    
    
</body>
    
<app-contacto></app-contacto>