<body style="background-color: #5161ce;">
    <app-menu></app-menu>
<div style="padding-left: 10%; padding-top: 3%; padding-right: 5%; background-color: white;"  >
    <div class="progress">
        <p>1900</p>
        <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <div class="progress">
        <p>1910-2000 </p>
        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <div class="progress">
          <p>2000-2010 </p>
        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <div class="progress">
          <p>2010-2020 </p>
        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <div class="progress">
          <p>2020 - - >  </p>
        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>

</div>
    
<br>

<div   style="padding-left: 20%; padding-right: 20%;  ">
    
    <div class="d-flex position-relative " class="rounded" class="border border-dark" style="background-color: #f9a59a; ">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>
<br>
<div style="padding-left: 20%; padding-right: 20%; ">
    <div class="d-flex position-relative " class="border border-dark" style="background-color: #f9a59a;">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>

<br>

<div   style="padding-left: 20%; padding-right: 20%;  ">
    
    <div class="d-flex position-relative " class="border border-dark" style="background-color: #f9a59a; ">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>
<br>
<div style="padding-left: 20%; padding-right: 20%; ">
    <div class="d-flex position-relative " class="border border-dark" style="background-color: #f9a59a;">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>

<br>

<div   style="padding-left: 20%; padding-right: 20%;  ">
    
    <div class="d-flex position-relative " class="border border-dark" style="background-color: #f9a59a; ">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>
<br>
<div style="padding-left: 20%; padding-right: 20%; ">
    <div class="d-flex position-relative " class="border border-dark" style="background-color: #f9a59a;">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>

<br>

<div   style="padding-left: 20%; padding-right: 20%;  ">
    
    <div class="d-flex position-relative " class="border border-dark" style="background-color: #f9a59a; ">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>
<br>
<div style="padding-left: 20%; padding-right: 20%; ">
    <div class="d-flex position-relative " class="border border-dark" style="background-color: #f9a59a;">
        <img src="..." class="flex-shrink-0 me-3" alt="...">
        <div>
          <h5 class="mt-0">Custom component with stretched link</h5>
          <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
        
      </div>
      <br>
</div>

</body>